@page
@using MovieWebSite.Components
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Movie WebSite</h1>
    <p class="abc">Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


@(await Html.RenderComponentAsync<MovieList>(RenderMode.ServerPrerendered))



<script src="_framework/blazor.server.js"></script>